@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

header {
    width: 100%;
    height: 729px;
    /*background-color: black;*/
    /*margin-bottom: 240px;*/

}

.img-header {
    width: 100%;
    height: 729px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-bottom: -140px;
}

.header {
    width: 46.991vw;
    height: 50px;
    /*border: 2px solid white;*/
    margin-top: 38px;
    margin-left: 382px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-1 {
    position: relative;
    bottom: -20px;
}

.header-text-1 {
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-top: -35px;
}

.header-text-2 {
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}

.header-text-3 {
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}

.header-text-4 {
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}

.header-text-5 {
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}

.header-text-6 {
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}

.header-content {
    /*border: 2px solid white;*/
    width: 524px;
    height: 401px;
    flex-shrink: 0;
    margin-top: 122px;
    margin-left: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content-text-1 {
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 69.6px */
    width: 524px;
}

.header-content-text-2 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    width: 506px;
}

.header-content-button {
    border-radius: 5px;
    background: #FF4B32;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 53px;
}

.header-content-text-3 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
}

.section-box-1 {
    width: 1149px;
    height: 737px;
    /*border: 2px solid gray;*/
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 147px;
    margin-right: 147px;
}

.section-box-1-1 {
    width: 590px;
    /*border: 2px solid gray;*/
    height: 134px;

}

.section-1-1-text-1 {
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
}

.section-1-1-text-2 {
    color: #000;

    /* Body / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-top: 20px;
    width: 506px;
}


.section-box-1-2 {
    width: 1149px;
    height: 737px;
    /*border: 2px solid gray;*/
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

.section-box-1-2-1 {
    width: 310px;
    height: 542px;
    flex-shrink: 0;
    /*border: 2px solid gray;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    /*margin-right: 147px;*/
}

.section-box-1-2-2 {
    width: 306px;
    height: 542px;
    flex-shrink: 0;
    /*border: 2px solid gray;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin-left: 92px;
}

.section-box-1-2-3 {
    width: 319px;
    height: 536px;
    margin-left: 118px;
    /*border: 2px solid gray;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.section-2-img {
    width: 300px;
    height: 265px;
}

.section-3-img {
    width: 319px;
    height: 251px;
    flex-shrink: 0;
    /*border: 2px solid gray;*/
}

.section-1-2-text-1 {
    color: #0C0D0C;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin-top: 35px;

}

.section-1-2-text-2 {
    color: #000;

    /* Heading / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    margin-top: 10px;

}

.section-1-2-text-3 {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-top: 15px;
    width: 257px;
}

.section-box-1-2-1-1 {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: start;*/
    /*align-items: start;*/
    margin-top: 35px;
}

.section-box-1-2-1-2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: start;*/
    /*align-items: start;*/
    margin-top: 47px;
}

.section-1-2-text-4 {
    color: #0C0D0C;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    width: 59px;


}

.section-1-2-text-5 {
    color: #000;

    /* Heading / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    margin-top: -3px;
    width: 298px;
}

.section-1-2-text-6 {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-top: -15px;
    width: 225px;
}


.section-box-2 {
    width: 1146px;
    height: 886px;
    flex-shrink: 0;
    /*border: 2px solid gray;*/
    margin-left: 147px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.section-box-2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-2-1-text-1 {
    color: #000;
    text-align: center;

    /* Subtitle / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
}

.section-2-1-text-2 {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-top: 20px;
    width: 609px;
}

.section-box-2-2 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.img-section-2-1 {
    width: 362px;
    height: 330px;
    flex-shrink: 0;
}

.section-box-2-3 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.img-section-2-4 {
    width: 362px;
    height: 230px;
    flex-shrink: 0;
}

.section-2-1-text-3 {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 75px;
}


.section-box-3 {
    margin-top: 143px;
    display: flex;
    flex-direction: column;
}

.section-box-3-img-1 {
    width: 1440px;
    height: 650px;
    position: absolute;
    z-index: -1;

}

.section-box-3-2 {
    width: 619px;
    height: 450px;
    margin-left: 412px;
    margin-top: 112px;
    /*border: 2px solid gray;*/
    display: flex;

    flex-direction: column;
}

.section-3-2-text-1 {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.section-3-2-text-2 {
    color: #FFF;
    text-align: center;

    /* Subtitle / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    margin-top: 65px;
}

.section-3-2-text-3 {
    color: #FFF;
    text-align: center;

    /* Subheading / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-top: 60px;
}

.section-3-2-text-4 {
    color: #FFF;
    text-align: center;

    /* Subheading / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-top: 25px;
}

.svg-2 {
    margin-bottom: -2px;
    margin-right: 15px;
}

.svg-3 {
    margin-bottom: -1px;
    margin-right: 15px;
}

.section-box-3-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.svg-4 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.svg-5 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 40px;
}


.section-box-4 {
    /*border: 2px solid gray;*/
    margin-top: 152px;
    margin-left: 147px;
    width: 1146px;
    height: 730px;
    flex-shrink: 0;
    display: flex;

    flex-direction: column;
}

.section-4-1-text-1 {
    color: #000;
    text-align: center;

    /* Subtitle / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
}

.section-4-1-text-2 {
    color: #000;
    text-align: center;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    width: 609px;
    margin-top: 20px;
    margin-left: 268px;
}

.section-box-4-2 {
    display: flex;
    justify-content: space-between;
}

.section-box-4-2-1 {
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    /*border: 2px solid gray;*/
    margin-top: 60px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}

/*.section-box-4-2-2{*/
/*    width: 362px;*/
/*    height: 536px;*/
/*    flex-shrink: 0;*/
/*    !*border: 2px solid gray;*!*/
/*    margin-top: 60px;*/
/*    !*margin-left: 30px;*!*/

/*}*/
.section-4-2-text-1 {
    color: #000;

    /* Heading / Base */
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    margin-top: 30px;
    margin-left: 30px;
}

.section-4-2-text-2 {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-top: 10px;
    width: 302px;
    margin-left: 30px;
}

.section-4-2-text-3 {
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    margin-top: 20px;
    margin-left: 35px;
}

footer {
    width: 1440px;
    height: 410px;
    background-color: #0D0402;
    margin-top: 140px;
    display: flex;
}

.footer-text-1 {
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-top: 79px;
}

.footer-text-2 {
    width: 250px;
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-left: 147px;
    margin-top: 30px;
}

.footer-text-3 {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 30px;
}
.svg-6{
    margin-left: 87px;
}
.svg-7{
    margin-left: 147px;
}
.footer-text-4{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */

}
.footer-text-5{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 20px;

}
.footer-box-2{
    width: 165px;
    height: 177px;
    flex-shrink: 0;
    margin-left: 43px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.footer-box-3{
    width: 165px;
    height: 177px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    margin-left: 128px;
    /*border: 2px solid gray;*/
}
.footer-text-6{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.footer-text-7{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 20px;
}
.footer-text-8{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-top: 105px;
    margin-left: 129px;
}
.svg-8{
    width: 244px;
    height: 38px;
    flex-shrink: 0;
    margin-top: 46px;
    margin-left: 120px;
}
.footer-text-9{
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-top: 330px;
    margin-right: 1448px;
}
.footer-box-4{
    width: 1440px;
    height: 94px;
    flex-shrink: 0;
    border: 2px solid gray;
}